*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(42, 56, 46);
    font-family: "dosis", system-ui;;
}

header{
    background: white;
    padding: 20px;
    }


header > h1 {
    color: darkgreen;
    text-align: center;
     
}


.score-board {
    margin: 40px auto;
    border: 3px solid white;
    border-radius: 5px;
    width: 200px;
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 30px 20px;
    position: relative;
}

.badge{
    background: rgb(0, 124, 62);
    color: white;
    font-size: 14px;
    padding: 2px 10px;
}

#user-label{
    width: 60px;
    position: absolute;
    top: 0px;
    left: 0px;

}

#sheldon-label{
    position: absolute;
    top: 0px;
    right: 0px;

}

.result{
    font-size: 60px;
    color: white;
    padding-top: 15px;
    padding-bottom: 45px;

}



.result > p {
    text-align: center;

}

.choices{
    text-align: center;
}

.choice{
    width: auto;
    height: 111px;
    border: 5px solid black;
    margin: 0 20px;
    padding: 1px;
    display:inline-block;

}

.choice:hover{
    border: 5px solid rgb(0, 0, 0); 
    transform: scale(1.5);
}
.glow-green {
    border: 4px solid green;
    box-shadow: 0 0 15px 5px green
  }

.glow-red {
    border: 4px solid red;
    box-shadow: 0 0 15px 5px red
  }

.glow-tie {
    border: 4px solid yellow;
    box-shadow: 0 0 15px 5px yellow
  }

  button {
    border: 4px solid rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    margin: 30px auto;       
    padding: 10px;
    background-color: white;
    color: rgb(25, 52, 31);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    display:block;
  }

  button:hover{
    border: 4px solid rgb(131, 0, 183);
    transform: scale(1.05);
    
  }
  
  .youtube {
    display: block;
    text-align: center;
    margin: 150px auto;
    width: 700px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  /*#overWin{
    display: inline;
    background-image: url(.//userWin.jpg);
    font-size: 60px;
    border: 4px solid green;

  }*/
 